asciitree==0.3.3
entrypoints==0.4
fasteners==0.18
h5py==3.9.0
numcodecs==0.11.0
numpy==1.25.1
pandas==2.0.3
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tqdm==4.65.0
typing_extensions==4.7.1
tzdata==2023.3
zarr==2.15.0
